@model ShopWebApplication.Models.Account

@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var thongbao = ViewBag.pass;
}


<div id="edit-password" containerclass="container">
    <div class="row ">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          
            <form action="/Accout/EditPassword" method="post" class="user">
                @Html.ValidationSummary(true)
                @Html.Hidden("AccountID", Model.AccountID)
                <div class="profile-sidebar">
                    <h2 style="text-align:center;">Change Password</h2>
                    <div class="col-md-12">
                        <label class="col-md-4">Current password:</label>
                        <input class="col-md-6" name="currentPassword" type="password" value="" />
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-4">New Password:</label>
                        <input class="col-md-6" name="newPassword" type="password" value="">
                    </div>

                    <div class="col-md-12">
                        <label class="col-md-4">Confirm password:</label>
                        <input class="col-md-6" name="confirmPassword" type="password" value="">
                    </div>

                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-6">
                            @if (ViewBag.Pass != null)
                            {
                                <p style="color:red;">@ViewBag.Pass</p>
                            }
                            @if (ViewBag.newPass != null)
                            {
                                <p style="color:red;">@ViewBag.newPass</p>
                            }
                        </div>                     
                    </div>

                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <div class="col-md-offset-2 col-md-10">
                            <button type="button" class="btn btn-secondary">@Html.ActionLink("Cancel", "profile/" + @Model.AccountID)</button>
                            <input type="submit" value="SAVE" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .profile-sidebar {
       
        padding: 20px 0 10px 0;
        background: #fff;
        border: 2px solid #e1eff8;
        border-radius: 5px;
    }
    .profile-usertitle {
        text-align: center;
        margin-top: 20px;
    }
    .col-md-9 {
        background: #fff;
    }
    .col-md-12 {
        margin: 1em 0 1em 2em;
    }
</style>